<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}">

<body>
    <section layout:fragment="container">
        <div class="container mt-3">
            <h1 th:text="${title}"></h1>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary mt-1 mb-3" onclick="openModal('add')">
                Add Product Data
            </button>

            <table class="table table-bordered table-striped table-hover table-sm">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Slug</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="product, iter : ${products}">
                        <th scope="row" th:text="${iter.count}"></th>
                        <td th:text="${product.name}"></td>
                        <td th:text="${product.slug}"></td>
                        <td th:text="${product.description}"></td>
                        <td th:text="${product.Price}"></td>
                        <td th:text="${product.category.name}"></td>
                        <td>
                            <button type="button" class="btn btn-warning" th:onclick="openModal('edit', [[${product.id}]])">
                                Edit
                            </button>
                            <button type="button" class="btn btn-danger" th:onclick="openModal('delete', [[${product.id}]])">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="myModalLabel">Modal title</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="productForm">
                            <!-- Name input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="name" >Name</label>
                                <input type="text" id="name" name="name" class="form-control" autocomplete="off"/>
                            </div>

                            <!-- Description input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="description">Description</label>
                                <input type="text" id="description" name="description" class="form-control" />
                            </div>

                            <!-- Price input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label" for="price">Price</label>
                                <input type="text" id="price" name="price" class="form-control" />
                            </div>
                            <!-- Hidden input for product ID (used for editing) -->
                            <input type="hidden" id="productId" name="id" autocomplete="off"/>
                        </form>
                        <p id="modalParagraph"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="saveButton" class="btn btn-primary">Save changes</button>
                        <button type="button" id="cancelButton" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" id="deleteButton" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/product.js"></script>
    </section>
</body>

</html>